<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <nav>
      <ul class="w3-navbar w3-black igginav">
        <li><a href ="/">Home</a>
        <li><a href ="/">Blog</a>
        <li><a href ="/">Work</a>
        <li><a href ="/">Contact</a>
      </ul>
    </nav>

    <div style="height:800px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
    <div class="parallax"></div>

    <div style="height:800px;background-color:red;font-size:36px">
Scroll Up and Down this page to see the parallax scrolling effect.
This div is just here to enable scrolling.
Tip: Try to remove the background-attachment property to remove the scrolling effect.
</div>
    <div class="parallax2"></div>

    {{{body}}}
  </body>
</html>
