<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav>
      <ul class="w3-navbar w3-black">
        <li><a href ="/">Home</a>
        <li><a href ="/">Blog</a>
        <li><a href ="/">Work</a>
        <li><a href ="/">Contact</a>
      </ul>
    </nav>

    {{{body}}}
  </body>
</html>
